.tupbebek-hesaplama-form #fcform {
  text-align: center;
}
.tupbebek-hesaplama-form .fc_error_text {
  display: none;
}
.tupbebek-hesaplama-form .form-check-label {
  width: 100%;
  padding: 3px 9px;
}
.tupbebek-hesaplama-form .form-check-input:before {
  content: "Yok";
  position: relative;
  right: 34px;
}
.tupbebek-hesaplama-form .form-check-input:after {
  content: "Var";
  position: relative;
  left: 16px;
}
.tupbebek-hesaplama-form .form-check {
  margin: auto 44%;
  width: 100%;
}
.tupbebek-hesaplama-form .form-check-input {
  width: 40px;
  height: 20px;
}
.tupbebek-hesaplama-form #loadingWrapper {
  display: none;
  text-align: center;
}
.tupbebek-hesaplama-form #fertility_chance_result {
  background: #f5f5f5;
  padding: 16px;
  border: 1px solid #d5d5d5;
  margin-bottom: 16px;
  display: none;
  width: 100%;
}
.tupbebek-hesaplama-form
  #fertility_chance_result
  .fertility_chance_item:nth-child(n + 2) {
  margin-top: 16px;
}
.tupbebek-hesaplama-form #fertility_chance_result span {
  text-align: center;
}
.tupbebek-hesaplama-form #fertility_chance_result .fc_result_desc {
  font-size: 20px;
  line-height: 30px;
  display: table;
  float: left;
  margin-bottom: 0;
}
.tupbebek-hesaplama-form #fertility_chance_result .fc_result_chance {
  font-size: 30px;
  line-height: 30px;
  color: #00a3c8;
  margin-left: 10px;
}
@media only screen and (max-width: 992px) {
  .tupbebek-hesaplama-form #fertility_chance_result .fc_result_chance {
    display: table;
    width: 100%;
    margin-left: 0;
  }
  .tupbebek-hesaplama-form #fertility_chance_result .fc_result_desc {
    display: table;
    width: 100%;
  }
}
